.categoria_contenedor{
    background-color: #1A8E84;
    border: 1px solid #DADADA;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 440px;
}

.contenedor_pelicula{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.titulo_pelicula{
    color: #DADADA;
    font-size: 25px;
}

.portada_pelicula{
    border: 5px solid black;
    border-radius: 4px;
    height: 350px;
    width: 225px;
}

.portada_pelicula:hover {-webkit-transform:scale(1.07);transform:scale(1.07);}
.portada_pelicula {overflow:hidden;}