.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #19b6a9;
    height: 100px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    margin-top: 20px;
}

.texto_footer{
    color: #DADADA;
    font-size: 25px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}