body{
    background-color: #202020;
}

h1{
    color: #DADADA;
}

li{
    list-style: none;
}

.titulo_categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.nombre_categoria{
    font-size: 32px;
    color: #DADADA;
}

.ver_mas{
    height: 25px;
    background-color: #202020;
    border: 3px solid #1A8E84;
    border-radius: 10px;
    color: #DADADA;
}

.contenedor{
    background-color: #1A8E84;
    border: 1px solid #DADADA;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 440px;
}

.contenedor_pelicula{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portada_detalle{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: -10px;
}

.portada_pelicula{
    border: 5px solid #202020;
    border-radius: 4px;
    height: 350px;
    width: 225px;
}

.subtitulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1a8e84;
    font-size: 20px;

}

.detalle_pelicula{
    display: block;
    position: absolute;
    top: 10px;
    width: 200px;
    height: 300px;
    margin-left: 15px;
    color: #DADADA;
    background-color: #1A8E84;
    border: 2px solid #202020;
}

.titulo_pelicula{
    color: #DADADA;
    font-size: 17px;
}

.boton_titulo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    height: 30px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.boton_descripcion{
    height: 25px;
    font-size: 9px;
    border: 2px solid #DADADA;
    border-radius: 10px;
    background-color: #202020;
    color: #DADADA;
}

.boton_detalle{
    display: none;
    position: absolute;
    top: 160px;
    margin-left: 65px;
    background-color: #202020;
    color: #DADADA;
    border: 2px solid #1A8E84;
    border-radius: 10px;
}

.link{
    color: #DADADA;
    text-decoration: none;
}



.botonbusqueda{
    height: 20px;
    border-radius: 5px;
    border: solid 2px turquoise;
    background-color: rgb(252, 252, 252);
}

.detalle_pelicula:hover +.portada_pelicula{-webkit-transform:scale(1.07);transform:scale(1.07);filter: blur(1px);}

.portada_pelicula:hover +.boton_detalle{
    display: block;
}
.boton_detalle:hover{
    display:block;
}
.boton_detalle:hover + .portada_pelicula{
    -webkit-transform:scale(1.07);transform:scale(1.07);filter: blur(1px);
}
.portada_pelicula:hover {-webkit-transform:scale(1.07);transform:scale(1.07);filter: blur(1px);}
.portada_pelicula {overflow:hidden;}

.ver_mas:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.ver_mas {overflow:hidden;}